<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webpack Bundler</title>
</head>

<body>
  <h1>메인</h1>

  <a href="./test.html">goto test page</a>
  <ul id="nanas">
    <li>
      <img src="../img/나나.png" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (2).jpg" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (2).png" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (3).jpg" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (4).jpg" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (5).jpg" alt="나나" width="300" height="300" />
    </li>
    <li>
      <img src="../img/나나 (2).jpg" alt="나나" width="300" height="300" />
    </li>
  </ul>

  <script src="../js/main.js"></script>
</body>

</html>